/* for 980px or less */
@media screen and (max-width: 980px) {

	#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: 65%;
		float: none;
	}
	#sidebar {
		width: 30%;
		float: none;
	}

/* for 480px or less */
@media screen and (max-width: 480px) {

  body {
    font-size: 18px;
    padding: 0;
    max-width: 320px;
    margin: 0 auto;
  }

  nav {
    position: static;
    height: 1%;
  }

  nav>li {
    font-size: 60%;
  }

  ul {
    font-size: 110%;
  }

  header {
    height: 10%;
  }

  h1 {
    font-size: 180%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 115%;
  }

  h3 {
    font-size: 110%;
  }

  main>li {
    font-size: 110%;
  }

  p, address {
    line-height: 1;
    font-size: 90%;
  }

  div.content {
    float: none;
  }

  div.sidebar {
    float: none;
  }

  img.logo,
  img.displayed {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 10px;
  }

  img.brochure,
	img.flyer,
  img.resize {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 10px;
  }

  footer {
    display: none;
  }
}
