/* for 980px or less */
@media screen and (max-width: 980px) {

	#pagewrap {
		width: 95%;
	}
	#content {
		width: 60%;
	}
	#sidebar {
		width: 30%;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#pagewrap {
		width: 95%;
	}
	#content {
		width: 50%;
		float: none;
	}
	#sidebar {
		width: 30%;
		margin: 0 auto;
	}

	#resume-menu a {
	  text-decoration: none;
	  color: #f8f8f8;
	  padding: 0em;
	}

/* for 480px or less */
@media screen and (max-width: 480px) {
	#pagewrap {
		width: 98%;
	}
	#content {
		width: 95%;
		float: left;
		padding: 0;
		font-size: 90%;
	}
	#sidebar {
		width: 90%;
		float:left;
	}

	#resume-menu li {
		font-size: 70%;
		padding: 0.3125em;
	}
	#resume-menu ul {
		height: 25%;
	}

	h1+p {
		padding-top: 1em;
	}

	header p, a {
		font-size: 60%;
	}

  body {
    font-size: 18px;
    padding: 0;
    max-width: 67%;
    margin: 0 auto;
  }

  nav {
    position: static;
    height: 1%;
  }

  nav>li {
    font-size: 60%;
		position: absolute;
  }

  ul {
    font-size: 110%;
  }

  header {
    height: 10%;
  }

  h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: 120%;
  }

  h3 {
    font-size: 70%;
  }

  li {
    font-size: 70%;
  }

  p, address {
    line-height: 1.25;
    font-size: 90%;
  }

  div.content {
    float: none;
  }

  div.sidebar {
    float: none;
  }

  img.logo,
  img.displayed {
    width: 100%;
    height: auto;
    float: none;
    margin-top: .625em;
		padding: 0;
  }

  img.brochure,
	img.flyer,
  img.resize {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 0;
		padding: 0;
  }

  footer {
    display: none;
  }
}
