body {
  color: black;
  background: transparent;
  font-size: 9pt;
  font-family: "Cambria", serif;
}

@page {
  margin: 0.5in;
}

header {
  padding: 10pt;
  margin-bottom: 10pt;
}

footer {
  display: none;
}

nav {
  display: none;
}

main {
  float: left;
  padding: 15pt;
}

h1 {
  margin-top: 10pt;
  margin-bottom: 1%;
  font-weight: 5pt;
  font-size: 40pt;
  float: left;
}

h2 {
  margin-top: 0pt;
  margin-bottom: 0pt;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 3pt;
  margin-top: 0;
  text-size: 9pt;
}

ul {
  margin-top: 0;
  margin-right: 16pt;
  text-size: 9pt;
}

address {
  margin-right: 40pt;
  text-align: center;
}

img.resume-print {
  float: right;
  width: 21%;
  height: 21%;
  margin-right: 6%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  positive: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.content {
	width: 60%;
	float: left;
  display: inline-block;
}

.sidebar {
	width: 39%;
	float: right;
  display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  position: absolute;
  right: 0pt;
  width: 35%;
  padding: 15pt;
}
