* {
  color: black;
  background: transparent;
  font-size: 9pt;
  font-family: "Cambria", serif;
}

@page {
  margin: 0.5in;
}

header {
  text-align: right;
  padding: 8pt;
  margin-right: 3.15in;
  margin-bottom: 8pt;
}

footer {
  display: none;
}

nav {
  display: none;
}

img {
  margin-top: -10pt;
  margin-right: 0.5in;
}

main {
  float: left;
  padding: 15pt;
  width: 60%;
}

h1 {
  margin-top: 0pt;
  margin-bottom: 1%;
  font-weight: 5pt;
  font-size: 40pt;
}

address {
  text-align:right;
  font-size:7pt;
}

h2 {
  margin-top: 0pt;
  margin-bottom: 0pt;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 3pt;
  margin-top: 0;
  text-size: 9pt;
}

ul {
  margin-top: 0;
  margin-right: 16pt;
  text-size: 9pt;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.right {
  position: absolute;
  right: 0pt;
  width: 35%;
  padding: 15pt;
}
