article, aside, footer, header, nav, section {
    display: block;
}

body {
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 12pt;
  color: #222;
  padding: 0.625em;
  background: #F8F8F8;
}

#header {
  height: 220px;
}

.content {
	width: 760px;
	float: left;
}

.sidebar {
	width: 320px;
	float: right;
}

#footer {
	clear: both;
}

.img {
	max-width: 100%;
	height: 200px;
	width: 200px;
}

#resume-menu {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 2%;
  font-size: 1em;
  text-align: center;
  background-color: #A8A8A8;
  border-radius: 0.250em;
  margin-top: 20px;
  margin-bottom: 20px;
}

#resume-menu ul {
  height: auto;
  padding: 0.375em 0em;
  margin: 0em;
}

#resume-menu li {
  display: inline;
  padding: 1.250em;
  margin-bottom: 0px;
}

#resume-menu a {
  text-decoration: none;
  color: #FFF;
  padding: 1.250em;
}

#resume-menu a:hover {
  color: #F90;
  background-color: #F8F8F8;
}

h1 {
  margin-top: 0;
  margin-bottom: 1%;
  font-weight: 50.000em;
  font-size: 5.000em;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 5px;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 20px;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  positive: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  position: absolute;
  right: 0px;
  width: 35%;
  padding: 20px;
}

.site:link {
  color: #FFF;
}

.site:visited {
  color: #000;
}

.site:hover {
  color: #F90;
}

.site:active {
  color: #000
}
